body {
    text-align: center;
    background-color: navy;
font-family:cursive;
}
div {
    margin-top: 15px;
}
.images-section {
display:flex;
    justify-content: center;
}
.section-style {
  margin-right: 25px;
    margin-left: 25px;
 background-color: aqua;
}
h1 {
color: white;
}